div.logo {
  width: 1256px;
  height: 800px;
  position: relative;
  top: -125px;
  left: calc(50% - 1256px / 2);
  transform: scale(0.75);
  margin-bottom: -250px;
  overflow: hidden;
}

h1 {
  font-family: "Monrad Typewriter";
  font-size: 16px;
}

h2 {
  font-family: "Monrad Typewriter";
  font-size: 18px;
}

p {
  font-family: "Monrad Typewriter";
  font-size: 14px;
}

section.banner {
  background-image: url(img/banner.svg);
  height: 152px;
  left: 268px;
  top: 61px;
}

.stop section.bicycle {
  transform: scale(0.2) rotate(-35deg);
}

section.bicycle-top {
  transition-duration: 3s;
}

.stop section.bicycle-top {
  transform: translateY(80px) translateX(-15px);
}

section.bicycle {
  background-image: url(img/bicycle.svg);
  height: 163px;
  width: 218px;
  left: 359px;
  top: 243px;
  transform-origin: bottom left;
  transition-duration: 3s;
}

section.bridge-position {
  height: 52px;
  width: 138px;
  left: 169px;
  top: 525px;
}

section.bridge {
  background-image: url(img/bridge.svg);
  transform: scale(0) rotateY(-90deg);
}
.go section.bridge {
  transform: scale(1) rotateY(0deg);
}

section.california {
  background-image: url(img/california.svg);
  height: 453px;
  left: 83px;
  top: 326px;
}


section.great-britain {
  background-image: url(img/great-britain.svg);
  height: 548px;
  left: 829px;
  top: 224px;
}

section.heart-position {
  left: 717px;
  top: 552px;
}
section.heart {
  background-image: url(img/heart.svg);
  transform: scale(0);
  height: 76px;
  width: 76px;
  transition: transform cubic-bezier(0.42, 0, 0.83, 1.41) 1.5s;
}

.go section.heart {
  transform: scale(1);
  transition-delay: 1.5s;
}

section.path {
  background-image: url(img/path.svg);
  height: 362px;
  left: 150px;
  top: 324px;
}

section.potatoes-position {
  left: 898px;
  top: 547px;
}

section.potatoes {
  background-image: url(img/potatoes.svg);
  height: 50px;
  width: 50px;
  transform: scale(0);
}

.go section.potatoes {
  transform: scale(1);
}

section.sheep-position {
  left: 1064px;
  top: 567px;
}

section.sheep {
  height: 158px;
  width: 158px;
  transform: translateX(20px) rotateZ(2deg);
  background-image: url(img/sheep.svg);
  opacity: 0;
}

.go section.sheep {
  transform: translateX(0) rotateZ(0);
  opacity: 1;
  transition: opacity linear 0.5s, transform ease-in-out 1s;
}

section.sun {
  background-image: url(img/sun.svg);
  height: 100px;
  left: 125px;
  top: 434px;
}

.go section.sun {
  transform: translateX(-75px);
}

section.thistle-position {
  left: 989px;
  top: 416px;
  height: 59px;
  width: 59px;
}

section.thistle {
  background-image: url(img/thistle.svg);
  transform: scaleY(0.05) scaleX(0.6);
  transform-origin: bottom center;
}
.go section.thistle {
  transform: scale(1);
}


section {
  background-repeat: no-repeat;
  height: 50px;
  width: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform cubic-bezier(0.65, 0.05, 0.36, 1) 2s;
}


@font-face {
        font-family: "Monrad with Serifs";
        src: url("./font/A_Font_with_Serifs.ttf") format('truetype');
}

@font-face {
        font-family: "Monrad Typewriter";
        src: url("./font/bohemian-typewriter.regular.ttf") format('truetype');
}

body {
  margin: 0;
  background: #C8E8EA;
}

table.date-details {
  font-family: "Monrad Typewriter";
  border-collapse: collapse;
}

.address-details {
  font-size: 16px;
  margin-left: 70px;
  line-height: 26px;

}
.border-heading {
  height: 40px;
  margin-top: -10px;
  margin-bottom: -15px;
}

.border-side-top {
  width: 56px;
  height: 173px;
  background-image: url(img/border-side-top.svg);
  background-size: 62px auto;
  background-position: top right;
}

.border-side-bottom {
  width: 56px;
  height: 181px;
  background-image: url(img/border-side-bottom.svg);
  background-size: 62px auto;
  background-position: top right;
}

.border-side-center {
  width: 56px;
  background-image: url(img/border-side-center.svg);
  background-size: 62px auto;
  background-position: top right;
  height: 237px;
  background-repeat-x: no-repeat;
  transform: translateX(0.5px); 
}

.border-side-repeat {
  width: 56px;
  background-image: url(img/border-side-repeat.svg);

}

.date-heading {
  font-size: 28px;
}

.date-day {
  font-size: 20px;
  line-height: 40px;
}

.date-location {
  font-size: 16px;
  line-height: 24px;
}

.dress-img {
  height: 300px;
}

.footer {
  background-color: #E6E7E8;
  border-top: 3px solid #414042;
  border-bottom:3px solid #414042;
  margin-top: -7px;
  margin-bottom: -3px;
  font-family: "Monrad Typewriter";
  font-size: 15px;
  height: 75px;

}

.getting-married {
  background-color: #E6E7E8;
  border-top: 3px solid #414042;
  border-bottom:3px solid #414042;
  margin-top: -7px;
  margin-bottom: -3px;
  font-family: "Monrad with Serifs";
  font-size: 45px;
}

.rsvp-button {
  height: 38px;
  margin-top: 17px;
  margin-bottom: -20px;
  margin-right: 10px;
}

.registry-links {
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  margin-top: -14px;
}

.single-malt-scotch {
    margin-left: 60px;
}

.time-details {
  font-size: 16px;
  margin-left: 30px;
  line-height: 50px;
}



a {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: underline;
}

.buttons a:hover {
  text-decoration: none;

}





